<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seldon.news">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".common.app.NewsApplication"
        android:theme="@style/NewsTheme">
        <activity
            android:name=".screens.splash.ui.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.menu.ui.MenuActivity"
            android:label="@string/title_activity_menu"/>
        <activity
            android:name=".screens.auth.ui.AuthorizationActivity"
            android:label="@string/title_activity_menu"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>